.Notifications {
  padding: 1em;
  border: 2px dashed red;
  position: absolute;
  top: 10px;
  width: 95vw;
}

li[data-notification-type="default"] {
  color: blue;
}

li[data-notification-type="urgent"], [data-urgent] {
  color: red;
}
