body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgba(220, 29, 29, 0.916);
}

.App-header img {
  width: 12rem;
}

.App-header h1 {
  color: rgba(220, 29, 29, 0.916);
  font-weight: 900;
}

.App-body {
  padding: 1.5rem;
  margin-bottom: auto;
}

.App-footer {
  margin-top: auto;
  border-top:3px solid rgba(220, 29, 29, 0.916);
  text-align: center;
}